{% extends "_layout.html" %}
{% block content %}

<div class="container col-lg-8 col-xl-6 text-center mt-3">
    <h2>Upload photo for {{user.username}}</h2>
    <form action="{{ url_for('images.create')}}" method="POST" enctype="multipart/form-data">
        <div class="row col-lg-10 mx-auto">
            <input type="file" name="user_file" id="user_file" class="inputfile col-11" />
            <label for="user_file" class="col-11 col-sm-3 my-1">Choose a file</label>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="btn btn-outline-secondary col-11 col-sm-3 mx-auto my-1" type="submit">Upload</button>
            <a class="btn btn-outline-secondary col-11 col-sm-3 mx-auto my-1" href="{{url_for('users.show', username=user.username)}}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}